.Chainfield {
    display: flex;
    margin: 25px;
    border: 1px solid black;
    width: 450px;
    height: 500px;
    flex-wrap: wrap;
    background: url("../../images/中国象棋.png") 450px 500px;
    background-size: cover
}

.Chainexcel {
    width: 50px;
    height: 50px;
    color: rgba(192, 7, 47, 0.849);
    /* border: 1px solid black; */
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Chaincurrent {
    color: transparent;
    background: url("../../images/horse1.png") center no-repeat;
    background-size: cover;
}

.chainchesslist {
    overflow: scroll;
    border: transparent 1px solid;
    margin: 5px 0px 0px 0px;
    height: 300px;
}